body {
  padding: 30px;
}
header {
  background: lightblue;
}
#wrapper {
	display: flex;
}
section {
  background: lightgreen;
}
article {
  background: white;
  margin: 0 0 1rem 0;
}
aside {
  background: pink;
	flex-shrink: 3;
}
header, article, section, .module {
	padding: 1rem;
}