div {
	margin-bottom: 15px;
	width: 199px;
	height: 199px;
 }
.loaderArea {
	display: flex;
	width: 200px;
	height: 200px;
	background: linear-gradient(45deg,#DA70D6,#E6E6FA);
}
.loader {
	margin: auto;
	width: 50px;
	height: 50px;
	border: 8px solid #D0F5A9;
  border-radius: 15px;
	box-shadow: 0 0 13px #F3F781;
	animation: anim 6s linear infinite;
}
@keyframes anim {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1turn);
	}
}
.wrapBall {
	display: flex;
	justify-content: space-between;
	width: 199px;
	height: 199px;
	border-bottom: 1px solid black;
}
.blok {
	width: 10px;
	outline:1px solid black;
	background: repeating-linear-gradient(#2D1616 0.5%, #582929 5%);
}
.wrapBall > div {
	position: relative;
}
#ball {
	position:absolute;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #2416EF;
	animation: bouncing 2s infinite;
}
@keyframes bouncing{
	0% {
		left: 50%;
		bottom: -17px;
		animation-timing-function: ease-in;
	}
	30% {
		left: 160px;
		bottom: 170px;
		animation-timing-function: ease-in;
	}
	60%{
		left: 50%;
		bottom: -17px;
		animation-timing-function: ease-in;
	}
	90%{
		left: 0px;
		bottom: 170px;
		animation-timing-function: ease-in;
	}
}
.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 620px;
}
.anim {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
}
#square {
	width: 30px;
	height: 30px;
	background: #08F2FA;
	animation: square 3s linear infinite;
}
@keyframes square{
	0%{margin-left: -25%; margin-top: 0%;}
	25%{margin-left: 25%; margin-top: 0%;}
	50%{margin-left: 25%; margin-top: 50%;}
	75%{margin-left: -25%; margin-top: 50%;}
	100%{margin-left: -25%; margin-top: 0%;}
}
#circle {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: radial-gradient(farthest-corner at 5px 10px, #EF1616, #F8F81C);
	animation: circle 3s linear infinite;
}
@keyframes circle {
	from {
		transform: rotate(0deg) translateX(50px) rotate(0deg);
	}
	to {
		transform: rotate(360deg) translateX(50px) rotate(-3600deg);
	}
}
#changeGrad {
	width: 100px;
	height: 100px;
	animation:changeGrad 2s linear infinite;
}
@keyframes changeGrad{
	from{background: linear-gradient(45deg, black, #FA08D2)}
	to{background: linear-gradient(45deg, yellow, black)}
}
#rotation {
	width: 100px;
	height: 100px;
	background: #46FC52;
	animation: rotation 5s linear infinite;
}
@keyframes rotation {
	from {transform: rotateY(0deg)}
	to {transform: rotateY(360deg)}
}
#distortion {
	width: 30px;
	height: 30px;
	border:1px solid black;
	animation: distortion 2s linear infinite, distortion2 2s linear 4s;
}
@keyframes distortion {
	0%{transform:skew(0deg, 0deg);border-color: red;}
	100% {transform: skew(0deg, 60deg)}
}
@keyframes distortion2 {
	0% {transform: scale(1)}
	50% {transform: scale(2)}
	100% {transform: scale(1)}
}
#grad {
	width: 100px;
	height: 100px;
	animation: grad 3s linear infinite;
	transition: background 1s ease;
}
@keyframes grad {
	0% {
		transform: rotateY(0deg) scale(1);
		background:repeating-radial-gradient(circle at 50px 50px, red 0px, red 2px, white 2px, white 4px);
	}
	25% {
		transform: rotateY(180deg) scale(0);
		background:repeating-radial-gradient(circle at 50px 50px, red 0px, red 2px, white 2px, white 4px);
	
	}
	50% {
		transform: rotateY(360deg) scale(1);
		background: linear-gradient(45deg, black, red);
	}
	75% {
		transform: rotateY(0deg) scale(1);	
		background: linear-gradient(45deg, black, red);
	}
	100% {
		transform: rotateY(0deg) scale(1);
		background:repeating-radial-gradient(circle at 50px 50px, red 0px, red 2px, white 2px, white 4px);
	}
}