form {
	border:1px solid #D8D8D8;
	width: 255px;
}
.wrapper {
	position: relative;
	font-family: Arial;
	text-transform:uppercase;
	font-weight:bold; 
	display:inline-block;
}
.wrapper > label {
		display: none;
}
input {
	height:40px;
	padding:3px 2px;
	border: none;
	utline: none;
}
#title, #description {
	width: 251px;
}
#title {
	border-bottom:1px solid #D8D8D8;
}
#description {
	border-top:1px solid #D8D8D8;
}
#price {
	width: 78px;
	border-right:1px solid #D8D8D8;
}
#specific {
	width: 161px;
}
input:not(:placeholder-shown) + label {
	display: inline;
	position: absolute;
	left:0;
	top:0;
	transition: all .2s linear;
	color:blue;
	font-size:10px;
}